absl-py==0.15.0
asttokens
astunparse==1.6.3
cachetools==4.2.4
category-encoders==2.6.4
certifi==2025.1.31
charset-normalizer==3.4.1
clang==5.0
cloudpickle==3.1.1
comm
contourpy==1.1.1
cycler==0.12.1
debugpy
decorator
dm-tree==0.1.8
dtw==1.4.0
exceptiongroup
executing
flatbuffers==1.12
fonttools==4.56.0
gast==0.4.0
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.70.0
h5py==3.1.0
idna==3.10
importlib_metadata
ipykernel
ipython
jedi
joblib==1.4.2
jupyter_client
jupyter_core
keras==2.6.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.7
Markdown==3.7
MarkupSafe==3.0.2
matplotlib==3.6.3
matplotlib-inline
nest_asyncio
numpy==1.19.5
oauthlib==3.2.2
opt-einsum==3.3.0
packaging
pandas==1.3.5
parso
patsy==1.0.1
pexpect
pickleshare
pillow==11.1.0
platformdirs
prompt_toolkit
protobuf==3.19.6
psutil
ptyprocess
pure_eval
pyasn1==0.6.1
pyasn1_modules==0.4.1
Pygments
pyparsing==3.2.1
python-dateutil
pytz==2025.1
pyzmq
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
scikit-learn==1.6.1
scipy==1.10.1
seaborn==0.12.2
six==1.15.0
stack_data
statsmodels==0.14.1
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.6.4
tensorflow-estimator==2.6.0
tensorflow-probability==0.25.0
termcolor==1.1.0
threadpoolctl==3.5.0
tornado
tqdm==4.64.0
traitlets
typeguard==2.13.3
typing-extensions==3.10.0.2
urllib3==2.3.0
wcwidth
Werkzeug==3.1.3
wrapt==1.12.1
zipp
